<div>
  <h2 id="page-heading" data-cy="NationalityHeading">
    <span jhiTranslate="sovchilaruzv2App.nationality.home.title">Nationalities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sovchilaruzv2App.nationality.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nationality"
        [routerLink]="['/nationality/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sovchilaruzv2App.nationality.home.createLabel">Create a new Nationality</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nationalities?.length === 0">
    <span jhiTranslate="sovchilaruzv2App.nationality.home.notFound">No Nationalities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="nationalities && nationalities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="sovchilaruzv2App.nationality.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="sovchilaruzv2App.nationality.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ord">
            <div class="d-flex">
              <span jhiTranslate="sovchilaruzv2App.nationality.ord">Ord</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="state">
            <div class="d-flex">
              <span jhiTranslate="sovchilaruzv2App.nationality.state">State</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let nationality of nationalities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nationality', nationality.id, 'view']">{{ nationality.id }}</a>
          </td>
          <td>{{ nationality.name }}</td>
          <td>{{ nationality.ord }}</td>
          <td jhiTranslate="{{ 'sovchilaruzv2App.EntityState.' + nationality.state }}">{{ nationality.state }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/nationality', nationality.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/nationality', nationality.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(nationality)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
